
<%= simple_form_for(@passage) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :authorized %>
    <%= f.collection_radio_buttons :passage_type, [[:entry, 'Entry'], [:exit, 'Exit']], :first, :last %>
    <%= f.association :card %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
