<p id="notice"><%= notice %></p>

<h1>Passages</h1>

<%= search_form_for @search do |f| %>

  <%= f.label :card_uid %>
  <%= f.search_field :card_uid_cont %>

  <%= f.select :authorized_eq, options_for_select([
        ['authorized', true],
        ['unauthorized', false]
      ] , @search.authorized)  %>

  <%= f.label :passage_type %>
  <%= f.select :passage_type_eq, options_for_select([
        ['entry', 1],
        ['exit', 0]
      ] , @search.passage_type)  %>

  <%= f.submit %>

  <%= link_to 'Clear', passages_path, class: 'btn btn-default' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search, :created_at, "Date") %></th>
      <th><%= sort_link(@search, :card_uid, "Card UID") %></th>
      <th><%= sort_link(@search, :authorized, "Authorized") %></th>
      <th><%= sort_link(@search, :passage_type, "Type") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
      <tr>
        <td><%= passage.created_at %></td>
        <td><%= passage.card.uid %></td>
        <td><%= passage.authorized %></td>
        <td><%= passage.passage_type %></td>

        <td><%= link_to 'Show', passage, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_passage_path(passage), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Passage', new_passage_path, class: 'btn btn-info' %>
