<p id="notice"><%= notice %></p>

<p>
  <strong>Authorized:</strong>
  <%= @passage.authorized %>
</p>

<p>
  <strong>Type:</strong>
  <%= @passage.passage_type %>
</p>

<p>
  <strong>Card:</strong>
  <%= @passage.card %>
</p>

<%= link_to 'Edit', edit_passage_path(@passage) %> |
<%= link_to 'Back', passages_path %>
