

<div class='row'>
  <div class='col-md-6'>
    <%= simple_form_for(@card) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :uid%>
        <%= f.label :authorized %>
        <br/>
        <%= f.collection_radio_buttons :authorized, [[true, 'Yes'], [false, 'No']], :first, :last %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>
</div>
