
<% if notice %>
  <p id="notice" class='alert alert-info'><%= notice %></p>
<% end %>

<h1>Cards</h1>


<%= search_form_for @search do |f| %>

  <%= f.label :uid %>
  <%= f.search_field :uid_cont %>

  <%= f.select :authorized_eq, options_for_select([
        ['authorized', true],
        ['unauthorized', false]
      ] , @search.authorized)  %>

  <%= f.submit %>

  <%= link_to 'Clear', cards_path, class: 'btn btn-default' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search, :uid, "UID") %></th>
      <th><%= sort_link(@search, :authorized, "Authorized") %></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.uid %></td>
        <td><%= card.authorized %></td>
        <% if card.authorized? %>
          <td><%= link_to 'Revoke Authorization', revoke_authorization_card_path(card),
              method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% else %>
          <td><%= link_to 'Grant Authorization', grant_authorization_card_path(card),
              method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %></td>
        <% end %>
        <td><%= link_to 'Show', card, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_card_path(card), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cards %>
<br>

<%= link_to 'New Card', new_card_path, class: 'btn btn-info' %>
