<p id="notice"><%= notice %></p>

<h3>Card UID: <%= @card.uid %></h3>
<h4>authorized: <%= @card.authorized %></h4>
<% if @card.authorized? %>
  <%= link_to 'Revoke Authorization', revoke_authorization_card_path(@card),
      method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% else %>
  <%= link_to 'Grant Authorization', grant_authorization_card_path(@card),
      method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
<% end %>

<br />
<h4>Passages:</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Authorized</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passages.each do |passage| %>
      <tr>
        <td><%= passage.created_at %></td>
        <td><%= passage.authorized %></td>
        <td><%= passage.passage_type %></td>

        <td><%= link_to 'Show', passage, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_passage_path(passage), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', passage, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
